* {
  margin: 0;
  padding: 0;
  outline-style: none;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 16px;
}
body {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  color: #000000;
  letter-spacing: -0.23px;
  word-break: keep-all;
}
